<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>补全信息</title>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <!--<script src="../js/sea-modules/seajs/2.3.0/_dist/sea.js"></script>-->
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <script>
        seajs.config({
            base:'../js/dist'
        })
        seajs.use('wzlh5/1.0.0/index',function(index){
            index.user('completeInfo');
        })
    </script>
    <!-- 行内样式属于该页面独有样式 -->
    <style>
        #complete-info-step2,#complete-info-step3{
            display: none;
        }
    </style>
</head>
<body>

<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar">
                    <span class="glyphicon glyphicon-wzl-back" onclick="history.back(-1)"></span>补全信息
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="complete-info">
            <div id="complete-info-step1">
                <p class="wzl-mb-20">为了方便您使用我中啦服务，请输入手机号</p>
                <input type="text" class="form-control border wzl-mb-30" id="phone" placeholder="输入手机号"/>
                <a href="javascript:;" id="checkphone"  class="setp-1 btn btn-wzl-default btn-lg btn-block wzl-mb-20">下一步</a>
                <p> <span class="wzl-text-warning">温馨提示：</span>设置密码后，可以是使用手机号和密码直接登录我中啦。你可以在资料管理中修改用户名。</p>
            </div>
            <div id="complete-info-step2">
                <p class="wzl-mb-20">请输入您手机获得的验证码并设置登录密码</p>
                <form action="" role="form" class="">
                    <ul class="list-group">
                        <li class="list-group-item clearfix wzl-verifycode-block" style="display: block">
                            <div class="pull-left">
                                <input type="text" class="form-control wzl-verify-input" style="width:100px;" placeholder="输入验证码">
                            </div>
                            <div class="pull-right wzl-child-block">
                                <div class="wzl-verifyphone-block" style="right: 0px;">
                                    <a href="javascript:;" class="btn btn-xs wzl-getverify-phone ">获取验证码</a>
                                </div>
                                <div class="wzl-verifyimg-block" style="right: 120px;">
                                    <img src="../imgs/ui/verify_code.png" class="wzl-verify-code" alt="验证码">
                                    <span class="wzl-verify-refresh">刷新</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <input type="password" id="password1" class="form-control" placeholder="请输入密码"/>
                        </li>

                    </ul>
                    <p class="text-muted"> <span class="wzl-text-warning">温馨提示：</span>设置密码后，可以是使用手机号和密码直接登录我中啦。你可以在资料管理中修改用户名。</p>

                    <a href="javascript:;" id="bind1" class="setp-2 btn btn-wzl-default btn-lg btn-block wzl-mb-20">完成</a>
                </form>
            </div>
            <div id="complete-info-step3">
                <p class="wzl-mb-20">您是我中啦的老用户，你之前的用户名是 <span class="text-primary">有言**</span>，请输入与之匹配的用户密码进行帐号绑定。</p>
                <form action="" role="form" class="">
                    <input type="text" id="phone1" class="form-control border wzl-mb-30" placeholder="手机号"/>
                    <a href="javascript:;" id="bind2" class=" setp-3 btn btn-wzl-default btn-lg btn-block wzl-mb-30">完成</a>
                    <p class="text-muted">
                        <span class="wzl-text-warning">温馨提示：</span>帐号绑定以后，您既可以使用我中啦帐号登录，也可以使用第三方帐号登录。
                    </p>
                </form>
            </div>
        </div>

    </div>
</div>



</body>
</html>