<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>补全信息</title>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <!--<script src="../js/sea-modules/seajs/2.3.0/_dist/sea.js"></script>-->
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <script>
        seajs.config({
            base:'../js/dist'
        })
        seajs.use('wzlh5/1.0.0/index',function(index){
            //index.login();
        })
    </script>
    <!-- 行内样式属于该页面独有样式 -->
    <style>

    </style>
</head>
<body>

<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar">
                    <span class="glyphicon glyphicon-wzl-back" onclick="history.back(-1)"></span>补全信息
                </div>
            </div>
        </div>
    </nav>
    <div class="container">

    </div>
</div>

<!-- weinre 调试js -->
<script src="http://192.168.0.124:8081/target/target-script-min.js#anonymous" type="text/javascript">
</script>

</body>
</html>