<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<section id="nw-popup" class="dn">
			<div class="nw-pop-bg"></div>
		    <div class="nw-pop-text">
		    	<div class="nw-pop-line">
		        	<div class=" nw-pop-text-top">
		        	<span><p>胜胜</p><p>1.14</p></span>
		            <span><p>胜平</p><p>1.14</p></span>
		            <span><p>胜负</p><p>1.14</p></span>
		            <span><p>平胜</p><p>1.14</p></span>
		            <span><p>平平</p><p>1.14</p></span>
		            <span><p>平负</p><p>1.14</p></span>
		            <span><p>负胜</p><p>1.14</p></span>
		            <span><p>向平</p><p>1.14</p></span>
		            <span><p>负负</p><p>1.14</p></span>
		            </div>
		        </div>
		        <div class="nw-pop-text-fod">
		        	<span>取消</span>
		            <span id="nw-pop-gree">确定</span>
		        </div>
		    </div>
		</section>
	</body>
</html>
