<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>福彩3D</title>
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script>
        seajs.config({
            base:'../js/dist'
        })
        seajs.use('wzlh5/1.0.0/f3d')
    </script>
</head>
<body>
<div id="warp">
<div class="top-buff-bar"></div>
<nav class="wzl-navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="wzl-nav-bar">
                <span class="glyphicon glyphicon-wzl-back" onclick="location.href='index.html'"></span>
                <span class="wzl-nav-dropdown icon-dropdown-white">
                    福彩3D-直选复式
                </span>

                <span class="wzl-cartext hidden">
                     福彩3D-购物车
                </span>
            </div>
            
            <div class="wzl-nav-more ">
                <span class=" glyphicon icon-more"></span>
            </div>

            <a class="wzl-car" href="#!/car">
                <span class=" glyphicon glyphicon-shopping-cart"></span>
            </a>
            
        </div>
    </div>
    <div class="drop-down-more">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <a href="../index.html">首页</a>
            </li>
            <li class="list-group-item">
                <a href="bettingdetail.html">投注记录</a>
            </li>
            <li class="list-group-item">
                <a href="ucenter.html">用户中心</a>
            </li>
            <li class="list-group-item">
                <a href="resultfc3d.html">彩票开奖</a>
            </li>
            <li class="list-group-item">
                <a href="play3d.html">玩法介绍</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 下拉框 -->
<div id="wzl-dropdown" class="dropdown-hide">
    <div class="wzl-dropdown-wrap">
        <div class="dropdown-box">
        </div>
        <div class="dropdown-con">
            <a class="btn btn-wzl-red f3d" href="#!/zxfs">直选复式</a>
            <a class="btn btn-wzl-red f3d" href="#!/zxhz">直选和值</a>
            <a class="btn btn-wzl-red f3d" href="#!/z3fs">组三复式</a>
            <a class="btn btn-wzl-red f3d" href="#!/z3ds">组三单式</a>
            <a class="btn btn-wzl-red f3d" href="#!/z6fs">组六复式</a>
        </div>
    </div>
</div>

<!-- 遮罩 -->
<div class="wzl-mask" style="display: none;"></div>

<div id="selectfc3d" class="container">
<!-- 历史开奖期次 -->
<div id="f3d-history" class="ball-history">
    <div class="history-bar">
        <span>正在加载历史数据...</span>
    </div>
</div>
<div id="fc3dplays">
<!-- 内容直选复式区 -->
<div id="selectzxfs" style="display: none">
    <div class="ballbox fc3d-bai">
        <p class="ballcon-tips">所选号码与开奖号码相同（且顺序一致）即中1040元</p>

        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">百位</span>
                    <span class="ballcon-yilou active">遗漏</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix" id="yla">
                        <li>
                            <span class="red_balls">0</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">1</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            <em></em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="ballbox fc3d-shi">
        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">十位</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix" id="ylb">
                        <li><span class="red_balls">0</span> <em></em></li>
                        <li>
                            <span class="red_balls">1</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            <em></em>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="ballbox fc3d-ge">
        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">个位</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix" id="ylc">
                        <li><span class="red_balls">0</span> <em></em></li>
                        <li>
                            <span class="red_balls">1</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            <em></em>
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            <em></em>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="ball-yaoyiyao"></div>
        </div>
    </div>
</div>

<!-- 内容直选和值区 -->
<div id="selectzxhz">
    <div class="ballbox fc3d-hezhi">
        <p class="ballcon-tips">所选号码与开奖号码相同（且顺序一致）即中1040元</p>

        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">和值</span>
                    <span class="ballcon-yilou active hidden">遗漏</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix">
                        <li><span class="red_balls">0</span></li>
                        <li><span class="red_balls">1</span></li>
                        <li><span class="red_balls">2</span></li>
                        <li><span class="red_balls">3</span></li>
                        <li><span class="red_balls">4</span></li>
                        <li><span class="red_balls">5</span></li>
                        <li><span class="red_balls">6</span></li>
                        <li><span class="red_balls">7</span></li>
                        <li><span class="red_balls">8</span></li>
                        <li><span class="red_balls">9</span></li>
                        <li><span class="red_balls">10</span></li>
                        <li><span class="red_balls">11</span></li>
                        <li><span class="red_balls">12</span></li>
                        <li><span class="red_balls">13</span></li>
                        <li><span class="red_balls">14</span></li>
                        <li><span class="red_balls">15</span></li>
                        <li><span class="red_balls">16</span></li>
                        <li><span class="red_balls">17</span></li>
                        <li><span class="red_balls">18</span></li>
                        <li><span class="red_balls">19</span></li>
                        <li><span class="red_balls">20</span></li>
                        <li><span class="red_balls">21</span></li>
                        <li><span class="red_balls">22</span></li>
                        <li><span class="red_balls">23</span></li>
                        <li><span class="red_balls">24</span></li>
                        <li><span class="red_balls">25</span></li>
                        <li><span class="red_balls">26</span></li>
                        <li><span class="red_balls">27</span></li>
                    </ul>
                </div>

            </div>
            <div class="ball-yaoyiyao"></div>
        </div>
    </div>
</div>

<!-- 内容组三复式区 -->
<div id="selectz3fs" style="display: none">
    <div class="ballbox fc3d-bai">
        <p class="ballcon-tips">所选号码与开奖号码相同（顺序不限）,且有任意两位相同,奖金346元。</p>

        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">组三复式</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix">
                        <li><span class="red_balls">0</span> </li>
                        <li>
                            <span class="red_balls">1</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ball-yaoyiyao"></div>
        </div>
    </div>
</div>

<!-- 内容组三单式区 -->
<div id="selectz3ds" style="display: none">
    <div class="ballbox fc3d-bai">
        <p class="ballcon-tips">所选号码与开奖号码相同（顺序不限）,且有任意两位相同,奖金346元。</p>

        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">重号</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix">
                        <li><span class="red_balls">0</span> </li>
                        <li>
                            <span class="red_balls">1</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="ballbox fc3d-shi">
        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">单号</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix">
                        <li><span class="red_balls">0</span> </li>
                        <li>
                            <span class="red_balls">1</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ball-yaoyiyao"></div>
        </div>
    </div>
</div>

<!-- 内容组六复式区 -->
<div id="selectz6fs" style="display: none">
    <div class="ballbox fc3d-bai">
        <p class="ballcon-tips">所选号码与开奖号码相同（顺序不限）即中奖金173元。</p>

        <div class="ballcon redBalls">
            <div class="ballcon-block">
                <div class="ballcon-left">
                    <span class="ballcon-title">号码</span>
                </div>
                <div class="ballcon-right">
                    <ul class="clearfix">
                        <li><span class="red_balls">0</span> </li>
                        <li>
                            <span class="red_balls">1</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">2</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">3</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">4</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">5</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">6</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">7</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">8</span>
                            
                        </li>
                        <li>
                            <span class="red_balls">9</span>
                            
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ball-yaoyiyao"></div>
        </div>
    </div>
</div>
</div>
</div>
<div id="tzsuccess">
    <div class="tzinfo">
        <img src="../imgs/ui/tz_smile.png" alt=""/>
        <p>投注成功！</p>
    </div>
    <div class="tz-btn-group">
        <a href="fc3d.html" class="btn btn-wzl-default btn-lg btn-block">继续投注</a>
        <a href="bettingdetail.html" class="btn btn-default btn-lg btn-block">查看投注详情</a>
    </div>
</div>
<!-- 内容 购物篮 -->
<div class="container wzl-hafix" id="f3dcar" style="display: none">
    <!-- 按钮选择组 -->
    <div class="nav-chose-box">
        <div class="btn-group wzl-mb-20">
            <button id="car-addhm" type="button" class="btn btn-default btn-wzl-pink">增加自选号码</button>
            <button id="car-addjx" type="button" class="btn btn-default btn-wzl-pink">增加机选1注</button>
        </div>
    </div>
    <!-- 结果呈现组 -->
    <div class="ball-select-list">
        <div id="car-no-select" class="car-no-select hidden">
            你尚未选择号码！ <a href="#!/zxfs">选购</a>
        </div>
        <ul class="ball-select-group" id="ball-select-group">
        </ul>
        <div class="ball-remove text-right">
            <span class="glyphicon icon-trash"></span>
        </div>
    </div>
</div>

<!-- 底部栏 -->
<div class="wzl-fixed" id="buycarfixedbtn">
    <span class="glyphicon icon-trash"></span>
    <a class="ball-status-bar icon-right disabled">
        每位至少选择 1 个号码球
    </a>
</div>

<!-- 底部栏 购物车-->
<div class="wzl-fixed" id="carfixed" style="display: none;">
    <div class="buy-bar" id="car-total">

    </div>
</div>
</div>

<script id="ball-select-item" type="text/x-handlebars-template">
    {{#each list}}
    <li class="ball-select-item clearfix" data-id="{{id}}">
        <a class=" ball-select-remove" href="javascript:;"> <span class="glyphicon icon-close-circula"></span></a>

        <div class="ball-select-result pull-left">
            <p class="ball-select-warp">
                <span class="redBalls">{{redStr}}</span>
            </p>
            <p class="ball-select-warp">
                <span class="pull-left">{{type}}</span> <span
                    class="ball-select-total pull-right">{{count}}注{{price}}元</span>
            </p>
        </div>
        <span class="glyphicon icon-right hidden"></span>
    </li>
    {{/each}}
</script>
<script id="car-total-template" type="text/x-handlebars-template">
    <div class="buy-bar-items result-info">
        <div class="buy-bar-info">
            <span>买</span>
            <span class="glyphicon icon-minus order-buy-items buy-bar-qcminus"></span>
            <input type="text" value="{{qi}}" id="ball-qc"/>
            <span class="glyphicon icon-plus order-buy-items buy-bar-qcplus"></span>
            <span>期</span>
        </div>
        <div class="buy-bar-info">
            <span>投</span>
            <span class="glyphicon icon-minus order-buy-items buy-bar-beiminus"></span>
            <input type="text" value="{{bei}}" id="ball-bei"/>
            <span class="glyphicon icon-plus order-buy-items buy-bar-beiplus"></span>
            <span>倍</span>
        </div>
    </div>
    <div class="buy-bar-items other-info">
        <div class="checkbox">
            <label>
                {{#if zjstop}}
                <input type="checkbox" checked id="ball-zjstop">
                {{else}}
                <input type="checkbox" id="ball-zjstop">
                {{/if}}
                中奖后停止
            </label>
        </div>
    </div>
    <div class="buy-bar-items buy-info">
        <div class="buy-bar-info">
            <a href="javascript:;" class="btn btn-default hidden" id="ssq_hm">发起合买</a>
        </div>
        <div class="buy-bar-info">
            <p> <span class="wzl-text-warning">{{count}}</span>注 <span class="wzl-text-warning">{{bei}}</span>倍</p>
            <p> <span class="wzl-text-warning">{{qi}}</span>期 共： ￥<span class="wzl-text-warning">{{price}}</span></p>
        </div>
        <div class="buy-bar-info">
            <a href="javascript:;" class="btn btn-default btn-wzl-red" id="ssq_buy"> 购买</a>
        </div>
    </div>
</script>
<script id="history-template" type="text/x-handlebars-template">
    
    <div class="history-list" style="display: none">
        <ul class="history-list-group">
            {{#each data}}
            <li class="history-list-items"><span class="history-stage">{{issue}}期</span><span class="history-number"><b
                    class="redBalls">{{ball}}</b>
            {{/each}}
        </ul>
    </div>

</script>

</body>
</html>