<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="warp">
    <div class="container-mask">

    </div>
</div>
<script>
    location.href="../index.html"
</script>


</body>
</html>