<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>竞彩足球</title>
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="stylesheet" href="../css/jc-new.css" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script>
        seajs.config({
            base: '../js/dist'
        })
        seajs.use('wzlh5/1.0.0/jc', function (index) {
            index.jc("jc_bf");
        })
    </script>
    <!--<script type="text/javascript" src="../js/dist/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../js/dist/wzlh5/1.0.0/buy.jczq.js"></script>	-->
    
    <style>
        .drop-down-more .list-group-item {
            background: #686868;
            border: 1px solid #7b7b7b;
            color: #fff;
        }

        .drop-down-more .list-group-item a {
            color: #fff;
        }

        .wzl-navbar.jc {
            background-image: url(../imgs/ui/topbar.jpg);
            margin-bottom: 0;
        }

        .account-nav-bar.jc ul.account-nav-group > li.active a {
            color: #2a8a01;
        }

        .account-nav-bar.jc ul.account-nav-group > li.active {
            border-bottom: 2px solid #2a8a01;
        }
        #wzl-dropdown .wzl-dropdown-box{
            padding:0;
        }
    </style>
</head>
<body class="jcbody">
<!--<script id="bf-tzbox-handlebars" type="text/x-handlebars-template">-->
<section id="nw-popup" class="dn">
	<div class="nw-pop-bg"></div>
    <div class="nw-pop-text bf-pop-text">
    	<div class="nw-pop-line" id="oddD">
    		
        	<div class="nw-pop-text-top sheng">
        		
            </div>
            <div class="nw-pop-text-top ping">
                
                
            </div>
            <div class="nw-pop-text-top fu">
                
            </div>
        </div>
        <div class="nw-pop-text-fod">
        	<span>取消</span>
            <span id="nw-pop-gree">确定</span>
        </div>
    </div>
</section>
<!--</script>-->
<section id="nw-popup" class="dn"></section>

<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar jc navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar">
                    <span class="glyphicon glyphicon-wzl-back" onclick="location.href='index.html'"></span>
                    <span class="wzl-nav-dropdown icon-dropdown-white">
                             比分
                    </span>

                    <span class="wzl-cartext hidden">
                         购物车
                    </span>
                </div>
                
               
                <div class="wzl-nav-more ">
                    <span class=" glyphicon icon-more"></span>
                </div>
                <a class="wzl-car" href="#!/car">
                    <span class=" glyphicon glyphicon-shopping-cart"></span>
                </a>
                <div class="jc-match-i">
                    <span class=" glyphicon icon-match"></span>
                </div>
            </div>
        </div>
        <div class="drop-down-more" style="display: none;">
            <ul class="list-group text-center">
                <li class="list-group-item">
                    <a href="../index.html">首页</a>
                </li>
                <li class="list-group-item">
                    <a href="bettingdetail.html">投注记录</a>
                </li>
                <li class="list-group-item">
                    <a href="ucenter.html">用户中心</a>
                </li>
                <li class="list-group-item">
                    <a href="playjczq.html">玩法介绍</a>
                </li>
            </ul>
        </div>
    </nav>
   
    <div id="wzl-dropdown" class="dropdown-hide">
        <div class="wzl-dropdown-wrap">
            <div class="wzl-dropdown-box">
                <div class="wzl-dropdown-con ">
                    <a class=" wzl-offset-20 btn btn-wzl-green jc" href="jc.html">胜平负</a>
                    <a class="btn btn-wzl-green jc" href="jcrqspf.html">让球胜平负</a>
                    <a class="btn btn-wzl-green jc" href="jc_bf.html">比分</a>
                    <a class="wzl-offset-20 btn btn-wzl-green jc" href="jcbqc.html">半全场</a>
                    <a class="btn btn-wzl-green jc" href="jc_jqs.html">进球数</a>
                    <!--<a class="btn btn-wzl-green jc" href="jchhgg.html">混合过关</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="jc-match" style="display: none;">
        <h4>赛事选择</h4>
        <ul class="league-list">
            <li class="active" data-league-id="2">西甲</li>
            <li class="active" data-league-id="1">意甲</li>
            <li class="active" data-league-id="6">荷甲</li>
            <li class="active" data-league-id="7">英足总杯</li>
            <li class="active" data-league-id="17">德乙</li>
            <li class="active" data-league-id="12">苏超</li>
            <li class="active" data-league-id="5">法甲</li>
            <li class="active" data-league-id="4">英超</li>
            <li class="active" data-league-id="113">荷乙</li>
            <li class="active" data-league-id="484">瑞典超附</li>
            <li class="active" data-league-id="3">德甲</li>
            <li class="active" data-league-id="30">葡超</li>
            <li class="active" data-league-id="35">挪超</li>
            <li class="active" data-league-id="624">瑞典超杯</li>
            <li class="active" data-league-id="56">巴甲</li>
            <li class="active" data-league-id="48">阿甲</li>
            <li class="active" data-league-id="534">美职附</li>
            <li class="active" data-league-id="70">法乙</li>
            <li class="active" data-league-id="552">英锦赛</li>
        </ul>
        <hr/>
        <div class="btn-group jc-match-btn text-center">
            <button class="btn btn-default" id="matchall">全选</button>
            <button class="btn btn-default" id="matchno">反选</button>
            <button class="btn btn-default" id="match5">五大联赛</button>
            <button class="btn btn-default btn-wzl-green" id="domatch">确定</button>
        </div>
    </div>
    <!-- 内容区 -->
    <div class="container wzl-hafix" id="selectjc">
        <!-- 胜平负 -->
        <div id="jc-spf">
            <div class="account-nav-bar jc">
                <ul class="account-nav-group">
                    <li class=""><a href="javascript:;">高中奖率(0)</a></li>
                    <li class="active"><a href="javascript:;">全部赛事(0)</a></li>
                    <li class=""><a href="javascript:;">五大联赛(0)</a></li>
                </ul>
            </div>
            <div class="jc-content">
                <div id="jcbf-gamelist-h" class="jc-content-item" style="display: none;">
				    
				</div>
				<div id="jcbf-gamelist-all" class="jc-content-item">
				  
				</div>
        		<div id="jcbf-gamelist-l" class="jc-content-item" style="display: none;">
        			
        		</div>
            </div>
        </div>
    </div>
    <div class="container " style="display: none" id="jccar">
        <!-- 按钮选择组 -->
        <div class="jc-add-more">
            <a href="javascript:history.back(-1);">添加更多的比赛 <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <!-- 结果呈现组 -->
        <div class="jc-select-list">
            <ul class="ball-select-group" id="ball-select-group">
                <li>

                </li>
            </ul>
            <div class="ball-remove text-right">
                <!-- ss -->
            </div>
        </div>
    </div>
    <div id="tzsuccess">
        <div class="tzinfo">
            <img src="../imgs/ui/tz_smile.png" alt="">

            <p>投注成功！</p>
        </div>
        <div class="tz-btn-group">
            <a href="jc.html" class="btn btn-wzl-green btn-lg btn-block">继续投注</a>
            <a href="bettingdetail.html" class="btn btn-default btn-lg btn-block">查看投注详情</a>
        </div>
    </div>
    <!-- 底部栏 -->
    <div class="wzl-fixed" id="buycarfixedbtn">
        <span class="glyphicon icon-trash"></span>
        <a class="ball-status-bar jc icon-right disabled">
            添加购物车
        </a>
    </div>
    <!-- 底部栏 car -->
    <div class="wzl-fixed car" style="display: none" id="carfixed">
        <div class="buy-bar2" id="car-total">
        </div>
        <div id="car-gglx">
            <div class="car-order">
                <p class="car-order-tit">自由过关：</p>

                <div class="car-order-box clearfix">

                    <span class="car-order-type" data-v="2">2串1</span>
                    <span class="car-order-type" data-v="3">3串1</span>
                    <span class="car-order-type" data-v="4">4串1</span>
                    <span class="car-order-type" data-v="5">5串1</span>
                    <span class="car-order-type" data-v="6">6串1</span>
                    <span class="car-order-type" data-v="7">7串1</span>
                    <span class="car-order-type" data-v="8">8串1</span>
                </div>
                <div class="hidden">
                    <p class="car-order-tit">多串过关：</p>

                    <div class="car-order-box clearfix">
                        <span class="car-order-type active">2串1</span>
                        <span class="car-order-type">2串1</span>
                        <span class="car-order-type">2串1</span>
                    </div>
                </div>

            </div>

            <div class="comform-box">
                <span class="comform-box-cancel">取消</span>
                <span class="game-bet-encounter-green">确认</span>
            </div>
        </div>
    </div>
</div>

<script id="jcmatch-rqspf-item-handlebars" type="text/x-handlebars-template">
	{{#each list}}
	<div class="jc-subtitle">
		{{{str}}}
	</div>
					
	<ul class="jc-gamelist jc-spf-list">
		{{#each list}}
		<li class="lid_{{lid}} m_{{changci}}">
			<div class="jc-leftpanel">
				<div class="jc-game-info">
				    <b>{{changciStr}}</b>
                    <b>{{leagueName}}</b>
                    <b>{{endtime}}截止</b>
				</div>
			</div>
			<div class="jc-rightpanel">
				<div class="jc-game-detail">
				    <div class="jc-game-title">
				        <span class="jc-row jc-game-home">{{matchHome}}</span>
				        <span class="jc-row jc-game-vs">VS</span>
				        <span class="jc-row jc-game-away">{{matchGuest}}</span>
				    </div>
				    <div class="text-center nw-tz-btn" data-matchno="{{changci}}">
				               点击展开投注选项<img src="../imgs/kj/icon_goright-up.png">
				    </div>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
	{{/each}}
</script>

<script id="jcmatch-match-item-handlebars" type="text/x-handlebars-template">
    {{#each list}}
        <li class="active" data-league-id="{{id}}">{{name}}</li>
    {{/each}}
</script>
</body>
</html>