<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>竞彩足球</title>
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="stylesheet" href="../css/jc-new.css" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script>
        seajs.config({
            base: '../js/dist'
        })
        seajs.use('wzlh5/1.0.0/jc', function (index) {
            index.jc("spf");
        })
    </script>
    <style>
        .drop-down-more .list-group-item {
            background: #686868;
            border: 1px solid #7b7b7b;
            color: #fff;
        }

        .drop-down-more .list-group-item a {
            color: #fff;
        }

        .wzl-navbar.jc {
            background-image: url(../imgs/ui/topbar.jpg);
            margin-bottom: 0;
        }

        .account-nav-bar.jc ul.account-nav-group > li.active a {
            color: #2a8a01;
        }

        .account-nav-bar.jc ul.account-nav-group > li.active {
            border-bottom: 2px solid #2a8a01;
        }
        #wzl-dropdown .wzl-dropdown-box{
            padding:0;
        }
    </style>
</head>
<body class="jcbody">
<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar jc navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar">
                    <span class="glyphicon glyphicon-wzl-back" onclick="location.href='index.html'"></span>
                    <span class="wzl-nav-dropdown icon-dropdown-white">
                        竞彩足球-进球数
                    </span>

                    <span class="wzl-cartext hidden">
                         购物车
                    </span>
                </div>
                
                
                <div class="wzl-nav-more ">
                    <span class=" glyphicon icon-more"></span>
                </div>
                <a class="wzl-car" href="#!/car">
                    <div class="jc-match-i">
                        <span class=" glyphicon icon-match"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="drop-down-more" style="display: none;">
            <ul class="list-group text-center">
                <li class="list-group-item">
                    <a href="../index.html">首页</a>
                </li>
                <li class="list-group-item">
                    <a href="bettingdetail.html">投注记录</a>
                </li>
                <li class="list-group-item">
                    <a href="ucenter.html">用户中心</a>
                </li>
                <li class="list-group-item">
                    <a href="playjczq.html">玩法介绍</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 下拉框 -->
    <div id="wzl-dropdown" class="dropdown-hide">
        <div class="wzl-dropdown-wrap">
            <div class="wzl-dropdown-box">
                <div class="wzl-dropdown-con ">
                    <a class="wzl-offset-20 btn btn-wzl-green jc" href="jc.html">胜平负</a>
                    <a class="btn btn-wzl-green jc" href="jcrqspf.html">让球胜平负</a>
                    <a class="btn btn-wzl-green jc" href="jc_bf.html">比分</a>
                    <a class="btn btn-wzl-green jc" href="jcbqc.html">半全场</a>
                    <a class="wzl-offset-20 btn btn-wzl-green jc" href="jc_jqs.html">进球数</a>
                    <!--<a class="btn btn-wzl-green jc" href="jchhgg.html">混合过关</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="jc-match" style="display: none;">
        <h4>赛事选择</h4>
        <ul class="league-list">
    
        <li class="active" data-league-id="0">英甲</li>
    
        <li class="active" data-league-id="1">圣保罗锦</li>
    
        <li class="active" data-league-id="2">日乙</li>
    
</ul>
        <hr>
        <div class="btn-group jc-match-btn text-center">
            <button class="btn btn-default" id="matchall">全选</button>
            <button class="btn btn-default" id="matchno">反选</button>
            <button class="btn btn-default" id="match5">五大联赛</button>
            <button class="btn btn-default btn-wzl-green" id="domatch">确定</button>
        </div>
    </div>
    <!-- 内容区 -->
    <div class="container wzl-hafix" id="selectjc">
        <!-- 胜平负 -->
        <div id="jc-spf">
            <div class="account-nav-bar jc">
                <ul class="account-nav-group">
                    <li class=""><a href="javascript:;">高中奖率(4)</a></li>
                    <li class="active"><a href="javascript:;">全部赛事(15)</a></li>
                    <li class=""><a href="javascript:;">五大联赛(0)</a></li>
                </ul>
            </div>
            <div class="jc-content">
                <div id="jcspf-gamelist-h" class="jc-content-item" style="display: none;">
    <div class="jc-subtitle">
        2018-03-20 星期二 <span class="jc-subtitle-len">1</span>场比赛可投
		<a href="javascript:;"><img src="../imgs/ui/icon_dropup_32.png"></a>
    </div>
    <ul class="jc-gamelist jc-spf-list">
        <li class="lid_1 m_2003">
            <div class="jc-leftpanel">
                <div class="jc-game-info">
                    <b>周二003</b>
                    <b>圣保罗锦</b>
                    <b>23:44截止</b>
                </div>
            </div>
            <div class="jc-rightpanel">
                <div class="jc-game-detail">
                    <div class="jc-game-title">
                        <span class="jc-row jc-game-home">圣保罗</span>
                        <span class="jc-row jc-game-vs">VS</span>
                        <span class="jc-row jc-game-away">圣卡埃塔</span>
                    </div>
                    <div class="text-center nw-tz-btn" data-matchno="2002">
                        点击展开投注选项<img src="../imgs/kj/icon_goright-up.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="jcspf-gamelist-all" class="jc-content-item">
    
    <div class="jc-subtitle">
        2018-03-20 星期二 <span class="jc-subtitle-len">3</span>场比赛可投
		<a href="javascript:;"><img src="../imgs/ui/icon_dropup_32.png"></a>
    </div>
	
    <ul class="jc-gamelist jc-spf-list" style="display: block;">
        <li class="lid_0 m_2002">
            <div class="jc-leftpanel nw-lf-panel">
                <div class="jc-game-info">
                    <b>002</b>
                    <b>英甲</b>
                    <b>23:44截止</b>
                </div>
            </div>
            <div class="jc-rightpanel">
                <div class="jc-game-detail">
                    <div class="jc-game-title">
                        <span class="jc-row jc-game-home">北安普敦</span>
                        <span class="jc-row jc-game-vs">VS</span>
                        <span class="jc-row jc-game-away">什鲁斯</span>
                    </div>
                    <div class="jqs-nw-tz">
                        <div class="jc-select-span"><span>0</span><span>1.11</span></div>
                        <div class="jc-select-span"><span>1</span><span>2.22</span></div>
                        <div class="jc-select-span"><span>2</span><span>3.33</span></div>
                        <div class="jc-select-span"><span>3</span><span>4.44</span></div>
                        <div class="jc-select-span"><span>4</span><span>5.55</span></div>
                        <div class="jc-select-span"><span>5</span><span>6.66</span></div>
                        <div class="jc-select-span"><span>6</span><span>7.77</span></div>
                        <div class="jc-select-span"><span>7+</span><span>8.88</span></div>
                    </div>
                </div>
            </div>
        </li>
        
        <li class="lid_1 m_2003">
            <div class="jc-leftpanel nw-lf-panel">
                <div class="jc-game-info">
                    <b>003</b>
                    <b>圣保罗锦</b>
                    <b>23:44截止</b>
                </div>
            </div>
            <div class="jc-rightpanel">
                <div class="jc-game-detail">
                    <div class="jc-game-title">
                        <span class="jc-row jc-game-home">圣保罗</span>
                        <span class="jc-row jc-game-vs">VS</span>
                        <span class="jc-row jc-game-away">圣卡埃塔</span>
                    </div>
                    <div class="jqs-nw-tz">
                        <div><span>0</span><span>1.11</span></div>
                        <div><span>1</span><span>2.22</span></div>
                        <div><span>2</span><span>3.33</span></div>
                        <div><span>3</span><span>4.44</span></div>
                        <div><span>4</span><span>5.55</span></div>
                        <div><span>5</span><span>6.66</span></div>
                        <div><span>6</span><span>7.77</span></div>
                        <div><span>7+</span><span>8.88</span></div>
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
</div>
                <div id="jcspf-gamelist-l" class="jc-content-item" style="display: none;"></div>
            </div>
        </div>
        <!-- 让球胜平负 -->
        <div id="jc-rqspf" style="display: none;">
            <div class="account-nav-bar jc">
                <ul class="account-nav-group">
                    <li class="">
                        <a href="javascript:;">高中奖率(0)</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;">全部赛事(0)</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">五大联赛(0)</a>
                    </li>
                </ul>
            </div>
            <div class="jc-content">
                <div id="jcrqspf-gamelist-h" class="jc-content-item">
                    <div class="jc-subtitle">数据加载中...</div>
                </div>
                <div id="jcrqspf-gamelist-all" class="jc-content-item">

                </div>
                <div id="jcrqspf-gamelist-l" class="jc-content-item">

                </div>
            </div>
        </div>
    </div>
    <div class="container " style="display: none" id="jccar">
        <!-- 按钮选择组 -->
        <div class="jc-add-more">
            <a href="javascript:history.back(-1);">添加更多的比赛 <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <!-- 结果呈现组 -->
        <div class="jc-select-list">
            <ul class="ball-select-group" id="ball-select-group">
                <li>

                </li>
            </ul>
            <div class="ball-remove text-right">
                <!-- ss -->
            </div>
        </div>
    </div>
    <div id="tzsuccess">
        <div class="tzinfo">
            <img src="../imgs/ui/tz_smile.png" alt="">

            <p>投注成功！</p>
        </div>
        <div class="tz-btn-group">
            <a href="jc.html" class="btn btn-wzl-green btn-lg btn-block">继续投注</a>
            <a href="bettingdetail.html" class="btn btn-default btn-lg btn-block">查看投注详情</a>
        </div>
    </div>
    <!-- 底部栏 -->
    <div class="wzl-fixed" id="buycarfixedbtn">
        <span class="glyphicon icon-trash"></span>
        <a class="ball-status-bar jc icon-right disabled">
            添加购物车
        </a>
    </div>
    <!-- 底部栏 car -->
    <div class="wzl-fixed car" style="display: none" id="carfixed">
        <div class="buy-bar2" id="car-total">
        </div>
        <div id="car-gglx">
            <div class="car-order">
                <p class="car-order-tit">自由过关：</p>

                <div class="car-order-box clearfix">

                    <span class="car-order-type" data-v="2">2串1</span>
                    <span class="car-order-type" data-v="3">3串1</span>
                    <span class="car-order-type" data-v="4">4串1</span>
                    <span class="car-order-type" data-v="5">5串1</span>
                    <span class="car-order-type" data-v="6">6串1</span>
                    <span class="car-order-type" data-v="7">7串1</span>
                    <span class="car-order-type" data-v="8">8串1</span>
                </div>
                <div class="hidden">
                    <p class="car-order-tit">多串过关：</p>

                    <div class="car-order-box clearfix">
                        <span class="car-order-type active">2串1</span>
                        <span class="car-order-type">2串1</span>
                        <span class="car-order-type">2串1</span>
                    </div>
                </div>

            </div>

            <div class="comform-box">
                <span class="comform-box-cancel">取消</span>
                <span class="game-bet-encounter-green">确认</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>