<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>修改密码</title>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <script src="../js/dist/seajs/2.3.0/dist/sea.js"></script>
    <script>
    function load(){
    	seajs.config({
            base:'../js/dist'
        })

        seajs.use('wzlh5/1.0.0/user',function(userA){
            userA.userA('modifypwd');
        })
    }
        
    </script>

</head>
<body onload="load()">

<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar" onclick="history.back(-1)">
                    <span class="glyphicon glyphicon-wzl-back" ></span>修改密码
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <form action="" role="form" class="">
            <ul class="list-group wzl-mb-40">
                <li class="list-group-item">
                    <input type="password" id="oldpwd" class="form-control" placeholder="填写旧密码"/>
                </li>
                <li class="list-group-item clearfix">
                    <div class="pull-left">
                        <input type="password" id="newpwd" class="form-control" style="width:240px;" placeholder="填写新密码"/>
                    </div>
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-wzl-eye" id="glyphicon-wzl-eye"></span>
                    </div>
                </li>
                <li class="list-group-item clearfix">
                    <input type="password" id="repwd" class="form-control" placeholder="再次填写新密码"/>
                </li>
            </ul>
            <a href="javascript:;" id="modifybtn" class=" disabled btn btn-wzl-default btn-lg btn-block wzl-mb-20">完成</a>
        </form>
    </div>
</div>

</body>
</html>