<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>玩法介绍</title>
    <link rel="stylesheet" href="../css/wzl-bootstrap.css?q=1111"/>
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>
<body>

<div id="warp">
    <div class="top-buff-bar"></div>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="wzl-nav-bar" onclick="location.href='index.html'">
                    <span class="glyphicon glyphicon-wzl-back" ></span>玩法介绍
                </div>
            </div>
        </div>
    </nav>
    <div class="container" id="plays">
        <ul class="list-group">
                 <li class="list-group-item"><a href="playssq.html">双色球<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playdlt.html">大乐透<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="play3d.html">福彩3D<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playp3.html">排列三<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playp5.html">排列五<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playqxc.html">七星彩<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playjczq.html">竞彩足球<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playjclq.html">竞彩篮球<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playgd115.html">广东11选5<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playjx115.html">江西11选5<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playk3.html">安徽快3<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                 <li class="list-group-item"><a href="playks.html">快乐10分<span class="glyphicon glyphicon-chevron-right"></span></a></li>

        </ul>
    </div>
</div>
</body>
</html>