<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>开奖详情</title>

    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/detail', function (main) {
            main.init();
        })
    </script>
</head>
<body>
</div>
<div id="warp">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <a href="javascript:history.go(-1)" class="glyphicon glyphicon-wzl-back dl"></a>
                    <center class="ssq-kj" id="title"></center>
                </div>
            </div>
        </div>
    </nav>
    <div class="account-nav-bar">
        <ul class="account-nav-group">
            <li>
                <a  href="javascript:history.go(-1)">最近开奖</a>
            </li>
            <li class="nav-jj">
                <a href="javascript:;">开奖详情</a>
            </li>
            <li class="dn">
                <a href="javascript:;">奖金计算</a>
            </li>
            <li class="dn">
                <a href="javascript:;">遗漏分析</a>
            </li>
        </ul>
    </div>
    <div class="loading" id="loading"></div>
    <div class="group-number oh" id="detail">
        <script id="detailTemp" type="text/x-handlebars-template">
        <ul class="result-group group-jj">
            <li>
                <a href="javascript:;" class="result-group-item">
                    <div class="result-item-title">
                        <span class="result-item-name t18">{{name}}{{issue}}期</span>
                        <span class="result-jj-time dr">{{date}}</span>
                    </div>
                    <div class="result-item-detail result-item-jj">
                        {{{ball}}}
                    </div>
                </a>
            </li>
        </ul>
        <div id="result" class="container wzl-mb-30">
            <div id="issue-detail" class="detail-xq">
                <table class="table table-bordered table-kj t14">
                    <tbody>
                    {{#if bonusBalance}}
                    <tr>
                        <td class="black-kj">奖池累计</td>
                        <td class="bordered-kj"><p><span class="wzl-s-red t18">{{bonusBalance}}</span>元</p>
                           <!-- <p>至少可开出 <span class="wzl-s-red">30</span> 注<span class="wzl-s-red">500万</span>大奖</p>--></td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td class="black-kj">本期销量</td>
                        <td><span class="wzl-s-red">{{sale}}</span> 元</td>
                    </tr>

                    </tbody>
                </table>
                <table class="table table-bordered table-kj">
                    <tbody>

                    <tr class="black-kj">
                        <td>奖级</td>
                        <td><span>注数</span></td>
                        <td>奖金</td>
                    </tr>
                    {{#each prizes}}

                    <tr>
                        <td>{{winName}}</td>
                        <td>{{winCount}}</td>
                        <td>{{winMoney}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        </script>
    </div>
</div>
<div class="hr20"></div>
<div class="wzl-fixed dn" id="gotoTradeBox">
    <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="javasctipt:" id="gotoTrade"></a>
</div>
</body>
</html>