<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>最新开奖</title>

    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/list', function (main) {
            main.init();
        })
    </script>
    <style>
        #resultLIst li{ margin-left:10px; }
    </style>
</head>
<body>
</div>
<div id="warp">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <a href="javascript:history.go(-1)" class="glyphicon glyphicon-wzl-back dl"></a>
                    <center class="ssq-kj" id="title"></center>
                    <div class="dr header-collect-box dn" id="justOff"><span class="collect-header"></span>定制</div>
                    <div class="dr header-collect-box dn" id="justOn"><span class="collect-header-on"></span>取消</div>
                </div>
            </div>
        </div>
    </nav>
    <div class="account-nav-bar dn">
        <ul class="account-nav-group">
            <li class="nav-jj">
                <a href="javascript:;">最近开奖</a>
            </li>
            <li>
                <a href="javascript:;">走势图表</a>
            </li>
            <li>
                <a href="javascript:;">遗漏分析</a>
            </li>
        </ul>
    </div>
    <div id="result" class="container">
        <div id="result-detail" class="result-group">
            <div class="loading" id="loading"></div>
            <ul id="resultLIst" class="result-group">



            </ul>
        </div>
    </div>
</div>
<div class="hr20"></div>
<div class="wzl-fixed dn" id="gotoTradeBox">
    <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="javasctipt:" id="gotoTrade"></a>
</div>
<script id="resultLIstTemp" type="text/x-handlebars-template">
    {{#each list}}
    <li >
        {{#if isGp}}
        <a href="javascript:" class="result-group-item">
            {{else}}
            <a href="detail.html?lotId={{id}}&issue={{issue}}" class="result-group-item icon-right">
                {{/if}}
                <div class="result-item-title">
                    <span class="result-item-name">{{name}}</span>
                    <span class="result-item-qc">{{issue}}期</span>
                    <span class="result-item-time item-time-kj">{{date}}</span>
                </div>
                <div class="result-item-detail">
                    {{{ball}}}
                </div>
            </a>
    </li>
    {{/each}}
</script>
</body>
</html>