<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>最近开奖</title>

    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>

</head>
<body id="warp">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">福彩3D开奖</font></center>
                    <span class="dr share-header"></span>
            </div>
            </div>
        </div>
    </nav>
	<div class="account-nav-bar">
              <ul class="account-nav-group">
                  <li class="nav-jj">
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li>
                    <a href="javascript:;">开奖详情</a>
                  </li>
                  <li>
                      <a href="javascript:;">走势图表</a>
                  </li>
                  <li>
                    <a href="javascript:;">遗漏分析</a>
                  </li>
              </ul>
          </div>
    <div id="result" class="container container-gauge">
        <div id="result-detail" class="result-group">
            <ul id="result-group" class="result-group result-group-sd">
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="floating-zjkj icon-right"></div>
        	<div class="result-item-title">
        	  <div class="result-item-title"> <span class="result-item-name">20140515022期</span> <span class="result-item-time">2015-02-05</span> <span class="sd-time2">试机号：030 和值：22</span> </div>
        	</div>
        	<div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">01</span><span class="red_balls">03</span>
            </div>
        </a>
        <!--下框展示-->
        <div class="icon-down-up sd-down-up oh">
        	<div class="dl sd-down-left">
            	<table cellspacing="0">
                	<thead>
                    	<tr>
                       	  <th>百位</th>
                            <td>1路</td>
                            <td>奇数</td>
                            <td>大</td>
                        </tr>
                    </thead>
                    <thead>
                    	<tr>
                        	<th>十位</th>
                            <td>2路</td>
                            <td>偶数</td>
                            <td>小</td>
                        </tr>
                    </thead>
                    <thead>
                    	<tr>
                        	<th>个位</th>
                            <td>3路</td>
                            <td>奇数</td>
                            <td>大</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="dr sd-down-right t14">
            	<p><span class="t16 red">下期关注号： </span>3,4,5</p>
                <span><a class="ball-status-bar btn-jj btn-sd" href="3d.html">投 注</a></span>
          </div>
        </div>
        <!--下框展示end-->
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
                <span class="sd-time2">试机号：030 和值：22</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">01</span><span class="red_balls">03</span>
            </div>
        </a>
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
                <span class="sd-time2">试机号：030 和值：22</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">01</span><span class="red_balls">02</span><span class="red_balls">03</span>
            </div>
        </a>
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
                <span class="sd-time2">试机号：030 和值：22</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">01</span><span class="red_balls">02</span><span class="red_balls">03</span>
            </div>
        </a>
    </li>
</ul>
        </div>
    </div>
    
    <div class="hr20"></div>
    <div class="wzl-fixed">
        <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="3d.html">投注福彩3D</a>
    </div>
</body>
</html>