<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>最近开奖</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body>
<div id="floating" class="dn">
	<div class="floating-cz oh">
		<h2>按彩种</h2>
    	<span><a href="#">数字彩</a><a href="#">高频彩</a><a href="#">竞技彩</a></span>
    </div>
    <div class="floating-sf oh">
		<h2>按省份</h2>
    	<span><a href="#">全国</a><a href="#">北京</a><a href="#">上海</a><a href="#">天津</a><a href="#">重庆</a><a href="#">浙江</a><a href="#">广东</a><a href="#">江苏</a><a href="#">福建</a><a href="#">辽宁</a><a href="#">河北</a><a href="#">河南</a><a href="#">山东</a><a href="#">山西</a><a href="#">湖北</a><a href="#">黑龙江</a><a href="#">安徽</a><a href="#">江西</a><a href="#">四川</a><a href="#">云南</a><a href="#">贵州</a><a href="#">海南</a><a href="#">新疆</a><a href="#">湖南</a></span>
    </div>
    <div class="floating-sf oh">
		<h2>按时间</h2>
    	<span><a href="#">周一</a><a href="#">周二</a><a href="#">周三</a><a href="#">周四</a><a href="#">周五</a><a href="#">周六</a><a href="#">周日</a></span>
    </div>
    <div class="form-group">
    	<a href="javascript:;" class="btn btn-cancel dl">取消</a>
    	<a href="javascript:;" class="btn btn-ok dr">确定</a>
    </div>
</div>
<div id="warp">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">胜负彩/任选九开奖</font></center>
            </div>
            </div>
        </div>
    </nav>
    <div class="account-nav-bar">
              <ul class="account-nav-group account-nav-sfc">
                  <li class="nav-sfc">
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li>
                    <a href="javascript:;">开奖详情</a>
                  </li>
              </ul>
          </div>
    <div id="result" class="container">
        <div id="result-detail" class="result-group">
            <ul id="result-group" class="result-group"> 
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
    <li>
        <a href="sfc.html" class="result-group-item icon-right">
            <div class="result-item-title item-sfc">
                <span class="result-item-name t14">20140515022期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
               	<ul class="score-sfc t14">
                	<li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                    <li>1</li>
                    <li>3</li>
                    <li>0</li>
                    <li>3</li>
                </ul>
            </div>
        </a>
    </li>
</ul>
        </div>
    </div>
    <div class="hr20"></div>
    <div class="wzl-fixed">
        <span class="dl"><a class="ball-status-bar btn-jj btn-sfc" href="sfc.html">投注胜负彩</a></span>
        <span class="dr"><a class="ball-status-bar btn-jj btn-sfc" href="sfc.html">投注任选九</a></span>
    </div>
</div>
</body>
</html>