<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>最近开奖</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body class="box-bj2">
<!--分享-->
<div class="share-box">
    <div class="oh shez-list t14">
    	<ul>
        	<li><a href="#">100期</a></li>
            <li><a href="#" class="shez-mag">100期</a></li>
            <li><a href="#">100期</a></li>
        </ul>
    </div>
    <p href="#" class="tc t16 wzl-text-blue">取消</p>
</div>
<!--分享end-->
    
</body>
</html>