<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>胜平负</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body id="warp">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">竞彩足球开奖</font></center>
            </div>
            </div>
        </div>
    </nav>
	<div class="jc-content-item">
     
    <ul class="jc-list-spf oh">  
   	 	<li class="oh jc-title t14">
        	<div class="dl">胜平负<span class=" glyphicon glyphicon-menu-down"></span></div>
            <div class="dr">2015-2-14<span class=" glyphicon glyphicon-menu-down"></span></div></li>
      	<li>
        	<a class="box-spf">
            	<div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-top"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span>
                            <span class="game-vs">
                            	<font>胜</font>
                            	<p class="game-vs-pink">1 : 0</p>
                            </span>
                            <span>皇家马德里</span>
                </div>        
        	</a>
            <!--下框展示-->
        		<div class="icon-down-up spf-down-up">
        	<table cellspacing="0" class="bordered">
			  <thead>
			    <tr>
			        <th>完场赔率</th>        
			        <td colspan="3"><div class="spf-down-b"><span>主3.33</span> <span class="tc">平3.33</span> <span class="tc">客3.33</span></div></td>
		        </tr>
			  </thead>
			  <tbody>
				<tr>
			      <th>巴塞罗那</th>        
			      <td>过去10场比赛</td>
			       <td colspan="2"><span class=" wzl-s-red">9胜</span> <span class=" blue">1平</span> <span class="green">0负</span></td>
		        </tr>        
			    <tr class="border-line">
			        <th>下一场比赛</th>         
			        <td>过去10场比赛</td>
			        <td colspan="2"><span class=" wzl-s-red">9胜</span> <span class=" blue">1平</span> <span class="green">0负</span></td>
		        </tr>
			    <tr>
			      <th>&nbsp;</th>
			      <td colspan="3">
                  <div class="spf-down-a">
                  <a href="#"><span>周三001</span><span class="mag-spf">巴萨   <font class="orange t14">vs</font>   马竞</span><span class="glyphicon glyphicon-menu-right"></span></a>
                  </div>
                  </td>
		        </tr>
			    <tr class="delin">
			      <th>&nbsp;</th>
			      <td colspan="3">
                  <div class="spf-down-a">
                  <a href="#"><span>周三001</span><span class="mag-spf">皇家马    <font class="orange">vs</font>   瓦伦西</span><span class="glyphicon glyphicon-menu-right dr"></span></a>
                  </div>
                  </td>
		        </tr>
			    </tbody>
			</table>
        </div>
        <!--下框展示end-->
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span>
                            <span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span>
                            <span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span>
                            <span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span>
                            <span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span><span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span><span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span><span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span><span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span><span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span><span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span><span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span><span>皇家马德里</span>
                </div>        
        </li>
        <li>
            <div class="jc-list">
                    <p>周五</p>
                    <p>005</p>
                    <p><span class="glyphicon glyphicon-triangle-bottom"></span></p>
            </div>
                <div class="jc-game-title t14">
                            <span>巴塞罗那</span><span class="game-vs"><font>胜</font>
                            <p class="game-vs-pink">1 : 0</p>
                            </span><span>皇家马德里</span>
                </div>        
        </li>
    </ul>
</div>
<div class=" hr70"></div>
    <div class="wzl-fixed">
        <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="ssc.html">投注竞彩足球</a>
    </div>
</body>
</html>