<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>遗漏分析</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">新时时彩开奖</font></center>
                    <span class="dr share-header"></span>
            </div>
            </div>
        </div>
    </nav>
	<div class="account-nav-bar">
              <ul class="account-nav-group">
                  <li>
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li>
                      <a href="javascript:;">走势图表</a>
                  </li>
                  <li class="nav-jj">
                    <a href="javascript:;">遗漏分析</a>
                  </li>
              </ul>
          </div>
    <div class="content-tab">
    	<table cellspacing="0">
			  <thead>
			    <tr>
			        <th width="12%" rowspan="2">号码</th>        
			        <th colspan="6"><span>红球</span><span class="glyphicon glyphicon-arrow-up glyphicon-up-yl"></span><span class="blueBalls">向上滑动切换“十位”“百位”</span></th>			    
                </tr>
			    <tr>
			        <th width="13%">当前</br>遗漏 </th>
			        <th width="13%">最大</br>遗漏</th>
			        <th width="13%">平均</br>遗漏</th>    
		          <th width="13%">上期</br>遗漏</th>  
		          <th width="13%">欲出</br>几率</th> 
		          <th width="23%"></th>
			    </tr>
			  </thead>
			  <tbody>
				<tr class="gray-bj">
			      <th>0</th>        
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup"></div></td>
		        </tr>        
			    <tr>
			      <th>1</th>
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup2"></div></td>
		        </tr>
			    <tr class="gray-bj">
			        <th>2</th>         
			        <td>125</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			        <td><div class="backgrup"></div></td>
			    </tr>
			    <tr>
			      <th>3</th>               
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup2"></div></td>
		        </tr>
			    <tr class="gray-bj">
			      <th>4</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup"></div></td>
		        </tr>
			    <tr>
			      <th>5</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>22</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup2"></div></td>
		        </tr>
			    <tr class="gray-bj">
			      <th>6</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>22</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup"></div></td>
		        </tr>
			    <tr>
			      <th>7</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup2"></div></td>
		        </tr>
			    <tr class="gray-bj">
			      <th>8</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup"></div></td>
		        </tr>
			    <tr>
			      <th>9</th>                
			      <td>125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><div class="backgrup2"></div></td>
		        </tr>
			    </tbody>
			</table>
        <table cellspacing="0" class="ssc-tab t14">
        	<tbody><tr>
            	<td>万位</td>
                <td>千位</td>
                <td>百位</td>
                <td>十位</td>
                <td class="orange"><span>1,2,3..</span></td>
            </tr></tbody>
        </table>
    </div>
    <div class="multiple oh">
    	<span class="multiple-tb">
        	<div class="buy-bar-info pull-left">
                    <font class="dl t14">投</font>
                    <div class="glyphicon icon-minus dl"></div>
                    <input type="text" value="1" class="input-small dl">
                    <div class="glyphicon icon-plus dl"></div>
                    <font class="dl t14">倍</font>
            </div>
        </span>
        <span class="multiple-zq">
        	<div class="buy-bar-info pull-left">
                    <font class="dl t14">追</font>
                    <div class="glyphicon icon-minus dl"></div>
                    <input type="text" value="1" class="input-small dl">
                    <div class="glyphicon icon-plus dl"></div>
                    <font class="dl t14">期</font>
            </div>
        </span>
    </div>
    <footer id="footer-yl">
    	<div class="dl fonter-left t14"><p>玩法：<span class=" blueBalls">复式</span></p><p>金额：<span class=" wzl-s-red">30元</span></p></div>
        <div class="dr fonter-right t14">
<button class="btn btn-default btn-deltel" type="submit" onClick="">清除</button>
<button class="btn btn-default btn-tz" type="submit" onClick="">立即投注</button>
        </div>
    </footer>
</body>
</html>