<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>走势图表</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body>
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">新时时彩开奖</font></center>
                    <span class="dr share-header"></span>
            </div>
            </div>
        </div>
    </nav>
	<div class="account-nav-bar">
              <ul class="account-nav-group">
                  <li>
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li class="nav-jj">
                      <a href="javascript:;">走势图表</a>
                  </li>
                  <li>
                    <a href="javascript:;">遗漏分析</a>
                  </li>
              </ul>
          </div>
    <div class="content-tab conten-tab-sd">
    	<table cellspacing="0">
			  <thead>
			    <tr>
			        <th rowspan="2">期号</th>        
			        <th colspan="11"><span>个位</span><span class="glyphicon glyphicon-arrow-left glyphicon-up-yl"></span><span class="blueBalls">向左滑动切换“十位”</span><span class="blueBalls">“百位”</span></th>			    
                </tr>
			    <tr>
			        <th>奖号</br></th>
			        <th>0</th>
			        <th>1</th>    
		          <th>2</th>  
		          <th>3</th> 
		          <th>4</th>
		          <th>5</th>
		          <th>6</th>
		          <th>7</th>
		          <th>8</th>
		          <th>9</th>
			    </tr>
			  </thead>
			  <tbody>
				<tr class="gray-bj">
			      <th>101期</th>        
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>        
			    <tr>
			      <th>101期</th>
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			        <th>101期</th>         
			        <td class="sd-red">125</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
			      <td><span class="red_balls">6</span></td>
			        <td>222</td>
			        <td>222</td>
			        <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>               
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>22</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>22</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>                
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			      <th>101期</th>
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="gray-bj">
			      <th>101期</th>
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr>
			      <th>101期</th>
			      <td class="sd-red">125</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td><span class="red_balls">6</span></td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="sd-grey">
			      <th colspan="2">总出现次数</th>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="sd-grey">
			      <th colspan="2">平均遗漏值</th>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="sd-grey">
			      <th colspan="2">最大遗漏值</th>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    <tr class="sd-grey">
			      <th colspan="2">最大连出值</th>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
			      <td>222</td>
		        </tr>
			    </tbody>
			</table>
    </div>
</body>
</html>