<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>最近开奖</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body class="box-bj2">
<!--分享-->
<div class="share-box">
	<p class="tc t16">分享到</p>
    <div class="oh share-list t14">
    	<ul>
        	<li><a href="#"><font>微信</font></a></li>
            <li><a href="#" class="friend"><font>朋友圈</font></a></li>
            <li><a href="#" class="koukou"><font>QQ空间</font></a></li>
        </ul>
    </div>
    <p href="#" class="tc t16 wzl-text-blue">取消</p>
</div>
<!--分享end-->
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">双色球开奖</font></center>
                    <span class="dr share-header"></span>
            </div>
            </div>
        </div>
    </nav>
	<div class="account-nav-bar">
              <ul class="account-nav-group">
                  <li class="nav-jj">
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li>
                    <a href="javascript:;">开奖详情</a>
                  </li>
                  <li>
                      <a href="javascript:;">奖金计算</a>
                  </li>
                  <li>
                    <a href="javascript:;">遗漏分析</a>
                  </li>
              </ul>
          </div>
    <div id="result" class="container container-gauge">
        <div id="result-detail" class="result-group">
            <ul id="result-group" class="result-group">
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="floating-zjkj icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">06</span><span class="red_balls">10</span><span class="red_balls">15</span><span class="red_balls">17</span><span class="red_balls">31</span><span class="blue_balls">13</span>
            </div>
        </a>
        <!--下框展示-->
        <div class="icon-down-up">
        	<table cellspacing="0" class="bordered">
			  <thead>
			    <tr>
			        <th class="red">红球</th>        
			        <td>区间比 1：2：3 </td>
			        <td>首尾号   01  06</td>
			    </tr>
			  </thead>
			  <tbody>
					<tr>
			      <th class="blue">蓝球</th>        
			      <td>大奇数 ３区</td>
			       <td>&nbsp;</td>
		        </tr>        
			    <tr class="delin">
			        <th class="orange">下期杀号</th>         
			        <td class="red">01 02 03 04 05 06</td>
			        <td class="blue">01 02 03 04 05 06</td>
			    </tr>
			    </tbody>
			</table>
        </div>
        <!--下框展示end-->
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">06</span><span class="red_balls">10</span><span class="red_balls">15</span><span class="red_balls">17</span><span class="red_balls">31</span><span class="blue_balls">13</span>
            </div>
        </a>
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">06</span><span class="red_balls">10</span><span class="red_balls">15</span><span class="red_balls">17</span><span class="red_balls">31</span><span class="blue_balls">13</span>
            </div>
        </a>
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">06</span><span class="red_balls">10</span><span class="red_balls">15</span><span class="red_balls">17</span><span class="red_balls">31</span><span class="blue_balls">13</span>
            </div>
        </a>
    </li>
    <li>
        <a class="result-group-item group-icon-right">
        	<div class="icon-right-up icon-right"></div>
            <div class="result-item-title">
                <span class="result-item-name">2015016期</span>
                <span class="result-item-time">02-05 周二</span>
            </div>
            <div class="result-item-detail">
                <span class="red_balls">02</span><span class="red_balls">06</span><span class="red_balls">10</span><span class="red_balls">15</span><span class="red_balls">17</span><span class="red_balls">31</span><span class="blue_balls">13</span>
            </div>
        </a>
    </li>
</ul>
        </div>
    </div>
    <div class="hr20"></div>
    <div class="wzl-fixed">
        <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="ssq.html">投注双色球</a>
    </div>
</body>
</html>