<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>开奖详情</title>
    <link rel="stylesheet" href="../../css/wzl-bootstrap.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.icons.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <script src="../../js/dist/wzlh5/kj/sea.js"></script>
    <script>
        seajs.config({
            base:'../../js/dist'
        })
        seajs.use('wzlh5/kj/home', function (main) {
            main.init();
        })
    </script>
</head>
<body class="box-bj">
    <nav class="wzl-navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header navbar-header-kj">
                <div class="navbar-header navbar-header-kj">
                    <span class="glyphicon glyphicon-wzl-back dl"></span>
                    <center><font class="ssq-kj">双色球开奖</font></center>
            </div>
            </div>
        </div>
    </nav>
	<div class="account-nav-bar">
              <ul class="account-nav-group">
                  <li>
                      <a href="javascript:;">最近开奖</a>
                  </li>
                  <li class="nav-jj">
                    <a href="javascript:;">开奖详情</a>
                  </li>
                  <li>
                      <a href="javascript:;">奖金计算</a>
                  </li>
                  <li>
                    <a href="javascript:;">遗漏分析</a>
                  </li>
              </ul>
          </div>
    <div class="group-number oh">
    	<ul class="result-group group-jj">
        <li>
        <a href="javascript:;" class="result-group-item">
            <div class="result-item-title">
            <span class="result-item-name t18">双色球2014033期</span>
            <span class="result-jj-time dr">2015-1-9</span>
    </div>
    <div class="result-item-detail result-item-jj">
    <span class="red_balls">13</span><span class="red_balls">18</span><span class="red_balls">20</span><span class="red_balls">25</span><span class="red_balls">27</span><span class="red_balls">33</span><span class="blue_balls">12</span>
    </div>
    </a>
    </li>
    </ul>
        <div id="result" class="container wzl-mb-30">
            <div id="issue-detail" class="detail-xq">
              <table class="table table-bordered table-kj t14">
            <tbody>
            <tr>
            <td class="black-kj">本期销量</td>
    <td class="t18"><span class="wzl-s-red">407,325,576</span> 元</td>
    </tr>
    <tr>
    <td class="black-kj">奖池累计</td>
    <td class="bordered-kj"><p><span class="wzl-s-red">151,808,850 </span>元</p><p>至少可开出 <span class="wzl-s-red">30</span> 注<span class="wzl-s-red">500万</span>大奖</p></td>
    </tr>
    </tbody>
    </table>
    <table class="table table-bordered table-kj">
      <tbody>
        <tr class="black-kj">
          <td>奖级</td>
          <td><span>注数</span></td>
          <td>奖金</td>
        </tr>
        <tr>
          <td>一等奖</td>
          <td>11</td>
          <td>10,000,000万</td>
        </tr>
        <tr>
          <td>二等奖</td>
          <td>12</td>
          <td>10,000,000万</td>
        </tr>
        <tr>
          <td>三等奖</td>
          <td>13</td>
          <td>10,000,000万</td>
        </tr>
        <tr>
          <td>四等奖</td>
          <td>13</td>
          <td>10,000,000万</td>
        </tr>
        <tr>
          <td>五等奖</td>
          <td>13</td>
          <td>10,000,000万</td>
        </tr>
        <tr>
          <td>六等奖</td>
          <td>13</td>
          <td>10,000,000万</td>
        </tr>
      </tbody>
    </table>
          </div>
        </div>
    </div>
    
    <div class="hr20"></div>
    <div class="wzl-fixed">
        <a class="ball-status-bar max-width-320 wzl-ml0 btn-jj" href="ssq.html">投注双色球</a>
    </div>
</body>
</html>